#set( $String = "" )
#macro( format $s )$String.format("%.3f", $s)#end
#set($suiteTotalRunTimeSeconds = $suiteExecutionReport.totalRunTimeInMillis / 1000.0 )
{"testsuite_name":"#escape($suiteExecutionReport.rootPath)","tests":"$suiteExecutionReport.pageHistoryReferences.size()","failures":"$suiteExecutionReport.finalCounts.wrong","disabled":"$suiteExecutionReport.finalCounts.ignores","errors":"$suiteExecutionReport.finalCounts.exceptions","time":"#format($suiteTotalRunTimeSeconds)","testcase":[
  #set($failure_count = $suiteExecutionReport.finalCounts.wrong)
  #set($error_count = $suiteExecutionReport.finalCounts.exceptions)
  #set($all_count = $failure_count+$error_count)
  #foreach ($reference in $suiteExecutionReport.pageHistoryReferences)   
    #set($classname = $formatter.getClassName($reference))  
	#set($runTimeSeconds = $reference.RunTimeInMillis / 1000.0 )
	#if($reference.testSummary.exceptions > 0 || $reference.testSummary.wrong > 0 )
      {"name":"#escape($reference.pageName)","help":"#escape($reference.help)","assertions":"$reference.testSummary.right","time":"#format($runTimeSeconds)",
      #set($all_count = $all_count - 1)
      #if($suiteExecutionReport.finalCounts.wrong > 0)
        "failure_message":"$reference.testSummary.wrong errors",
      #end
      #if($reference.testSummary.exceptions > 0)
        "error_message":"$reference.testSummary.exceptions exceptions",
      #end
      "system_out":"$reference.pageName?pageHistory&amp;resultDate=$reference.resultDate"}
      #if($all_count > 0)
      ,
      #end
    #end
  #end
]}